@page "/games"
@inject IVideoGameService VideoGameService


<PageTitle>VideoGame</PageTitle>
<h3>VideoGameOverview</h3>

@if(VideoGames.Count == 0)
{
    <p><em>Loading Vidio Game.....</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Release Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var game in VideoGames)
            {
                <tr>
                    <td>@game.Title</td>
                    <td>@game.Publisher</td>
                    <td>@game.ReleaseYear</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<VideoGame> VideoGames = new List<VideoGame>();
    
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        VideoGames = await VideoGameService.GetAllGamesAsync();
    }
}